[data-theme='grass'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(86.57% 0.08 144.79deg);
	--color-primary-100: oklch(78.77% 0.09 145.18deg);
	--color-primary-200: oklch(70.48% 0.09 145.49deg);
	--color-primary-300: oklch(62.31% 0.09 145.72deg);
	--color-primary-400: oklch(53.59% 0.09 145.78deg);
	--color-primary-500: oklch(44.96% 0.1 145.59deg);
	--color-primary-600: oklch(38.57% 0.08 145.7deg);
	--color-primary-700: oklch(31.91% 0.06 145.88deg);
	--color-primary-800: oklch(25.2% 0.05 146.01deg);
	--color-primary-900: oklch(17.69% 0.03 146.61deg);
	--color-primary-950: oklch(0% 0 none);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(96.92% 0.02 147.55deg);
	--color-secondary-200: oklch(93.77% 0.04 147.25deg);
	--color-secondary-300: oklch(90.57% 0.06 147.09deg);
	--color-secondary-400: oklch(87.54% 0.09 146.73deg);
	--color-secondary-500: oklch(84.67% 0.11 146.41deg);
	--color-secondary-600: oklch(77.3% 0.11 147.04deg);
	--color-secondary-700: oklch(69.76% 0.11 147.2deg);
	--color-secondary-800: oklch(61.86% 0.11 147.44deg);
	--color-secondary-900: oklch(53.95% 0.11 147.34deg);
	--color-secondary-950: oklch(45.87% 0.11 147.33deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.24% 0.05 136.02deg);
	--color-tertiary-100: oklch(93.17% 0.08 140.29deg);
	--color-tertiary-200: oklch(89.24% 0.11 142.43deg);
	--color-tertiary-300: oklch(85.49% 0.14 142.92deg);
	--color-tertiary-400: oklch(81.88% 0.17 143.47deg);
	--color-tertiary-500: oklch(78.46% 0.19 143.47deg);
	--color-tertiary-600: oklch(71.46% 0.19 143.33deg);
	--color-tertiary-700: oklch(64.06% 0.18 143.17deg);
	--color-tertiary-800: oklch(56.75% 0.17 142.95deg);
	--color-tertiary-900: oklch(49.05% 0.16 142.74deg);
	--color-tertiary-950: oklch(41.45% 0.14 142.5deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.45% 0.03 132.22deg);
	--color-success-100: oklch(92.79% 0.05 137.28deg);
	--color-success-200: oklch(87.07% 0.06 139.25deg);
	--color-success-300: oklch(81.55% 0.08 140.96deg);
	--color-success-400: oklch(75.77% 0.1 141.51deg);
	--color-success-500: oklch(70% 0.11 142.16deg);
	--color-success-600: oklch(62.62% 0.11 142.73deg);
	--color-success-700: oklch(55% 0.11 143.22deg);
	--color-success-800: oklch(47.55% 0.11 143.55deg);
	--color-success-900: oklch(39.62% 0.11 143.56deg);
	--color-success-950: oklch(31.56% 0.1 143.42deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.12% 0.1 108.17deg);
	--color-warning-100: oklch(95.87% 0.13 104.1deg);
	--color-warning-200: oklch(93.89% 0.15 101.57deg);
	--color-warning-300: oklch(91.82% 0.16 98.84deg);
	--color-warning-400: oklch(90.03% 0.17 96.6deg);
	--color-warning-500: oklch(88.14% 0.18 93.52deg);
	--color-warning-600: oklch(80.92% 0.16 93.41deg);
	--color-warning-700: oklch(73.33% 0.15 92.7deg);
	--color-warning-800: oklch(65.75% 0.13 92.39deg);
	--color-warning-900: oklch(57.73% 0.12 91.27deg);
	--color-warning-950: oklch(49.64% 0.1 90.76deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(88.53% 0.06 29.68deg);
	--color-error-100: oklch(82.53% 0.08 25.58deg);
	--color-error-200: oklch(76.61% 0.1 23.44deg);
	--color-error-300: oklch(70.96% 0.13 23.11deg);
	--color-error-400: oklch(65.46% 0.15 22.97deg);
	--color-error-500: oklch(60.35% 0.17 23.62deg);
	--color-error-600: oklch(53.97% 0.16 24.15deg);
	--color-error-700: oklch(47.41% 0.15 24.71deg);
	--color-error-800: oklch(40.76% 0.14 25.66deg);
	--color-error-900: oklch(33.91% 0.12 26.78deg);
	--color-error-950: oklch(26.85% 0.11 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(97.28% 0.01 172.21deg);
	--color-surface-200: oklch(94.88% 0.03 171.88deg);
	--color-surface-300: oklch(92.2% 0.04 171.45deg);
	--color-surface-400: oklch(89.85% 0.05 170.97deg);
	--color-surface-500: oklch(87.23% 0.06 170.43deg);
	--color-surface-600: oklch(79.91% 0.06 170.92deg);
	--color-surface-700: oklch(72.35% 0.06 170.56deg);
	--color-surface-800: oklch(64.44% 0.06 171.76deg);
	--color-surface-900: oklch(56.48% 0.06 171.13deg);
	--color-surface-950: oklch(48.35% 0.06 171.15deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-dark);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}

/* QR Code stuff*/
.qr-grass-theme .scan-region-highlight-svg,
    .qr-grass-theme .code-outline-highlight {
        stroke: oklch(0.4496 0.1 145.59) !important;
		animation: none !important;
  transform: none !important;
    }