@import 'tailwindcss';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 

/* https://www.realtimecolors.com/?colors=070807-f8faf8-5baf65-9ddda5-5adb69&fonts=Inter-Inter */


/* @import '@skeletonlabs/skeleton/themes/cerberus';  */
/* @import '@skeletonlabs/skeleton/themes/mint';  */

/* theme name should be either mint or pine*/
@import './grassTheme.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

