@import 'tailwindcss';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
/* @import '@skeletonlabs/skeleton/themes/cerberus';  */
@import '@skeletonlabs/skeleton/themes/mint'; 

/* theme name should be either mint or pine*/

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));